llvmlite==0.36.0
matplotlib==3.4.2
  cycler==0.10.0
    six==1.16.0
  kiwisolver==1.3.1
  numpy==1.21.1
  Pillow==8.3.1
  pyparsing==2.4.7
  python-dateutil==2.8.2
    six==1.16.0
openpyxl==3.0.7
  et-xmlfile==1.1.0
pandas==1.3.1
  numpy==1.21.1
  python-dateutil==2.8.2
    six==1.16.0
  pytz==2021.1
pip-autoremove==0.9.1
pipdeptree==2.1.0
  pip==21.2.2
pkg_resources==0.0.0
pyinstaller==4.4
  altgraph==0.17
  pyinstaller-hooks-contrib==2021.2
  setuptools==57.4.0
scipy==1.7.1
  numpy==1.21.1
